h4.condensed { 
	margin-top: 5px;
	margin-bottom: 10px;
}
td.nowrap {
    white-space: nowrap;
}


ul li.ui-menu-item { border-top: 1px #ccc solid; padding: 2em 0; }
ul li.ui-menu-item:first-child { border-top: none; padding-top: 0; }